.App {
  text-align: center;
}

.list-wrapper {
  display: table;
  margin: 0 auto; 
}

.subj-list {
  list-style-type: none;
  overflow: hidden;
  background-color: #333333;
  margin: 0;
}

.subj-list-item {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 16px;
}

li a:hover {
  background-color: #111111;
}